h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
}

@include media-breakpoint-down(xs) {
	html {
		font-size: 14px;
	}
}