.card-flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	.card-title {
		margin-bottom: 0;
	}

	.card {
		@include media-breakpoint-down(md) {
			flex: 0 0 calc(100%/2 - .6125rem);
		}

		@include media-breakpoint-up(md) {
			@include media-breakpoint-down(lg) {
				flex: 0 0 calc(100%/3 - .6125rem);
			}
		}

		@include media-breakpoint-up(lg) {
			flex: 0 0 calc(100%/4 - .6125rem);
		}

		color: $gray-dark;

		display: flex;
		flex-direction: column;
		justify-content: space-between;

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			line-height: 1;
		}
	}

	.card-top {
		.card-text {
			margin-bottom: 1.25rem;
		}
	}
}

.card-text {
	text-align: justify;
	font-size: .8rem;
}