#objetivos {
	.row > div {
		align-self: center;
	}
}

.goal {
	margin-bottom: 1.5rem;
}

.goal-content {
	> img {
		width: 150px;
		float: left;
		margin: .25rem .75rem;
	}

	> * {
		text-align: justify;
	}
}

@include media-breakpoint-down(xs) {
	.goal-content {
		> img {
			width: 75%;
			float: none;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.goal-status {
	margin-bottom: 1.5rem;

	.goal-display .odometer-inside {
	  .odometer-digit:last-child {
		  display: none
		}
	}
}