$brand-primary: #2C3E50;
$brand-success: #18BC9C;
$component-active-bg: #1A242F;
$nav-pills-border-radius: 0;
$navbar-brand-big-size: 2rem;
$gray-lighter: lighten(#000, 93.5%);
$tooltip-max-width: 300px;

$navbar-padding-vertical: 25px;
